<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    
    <title>Plotting model implementations &mdash; ISM Model Documentation</title>
    
    <link rel="stylesheet" type="text/css" href="_static/css/spc-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="_static/css/spc-extend.css">
    <link rel="stylesheet" href="_static/scipy.css" type="text/css" >
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" >
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    './',
        VERSION:     '0.1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <script type="text/javascript" src="_static/language_data.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="_static/js/copybutton.js"></script>
    <link rel="index" title="Index" href="genindex.html" >
    <link rel="search" title="Search" href="search.html" >
    <link rel="top" title="ISM Model Documentation" href="index.html" >
    <link rel="next" title="Common constants and utilities" href="common.html" >
    <link rel="prev" title="Testing model implementations" href="test_models.html" > 
  </head>
  <body>

  <div class="container">
    <div class="header">
    </div>
  </div>


    <div class="container">
      <div class="main">
        
	<div class="row-fluid">
	  <div class="span12">
	    <div class="spc-navbar">
              
    <ul class="nav nav-pills pull-left">
        <li class="active"><a href="https://bitbucket.org/bdiemer/ismmodel">BitBucket Repository</a></li>
	
        <li class="active"><a href="index.html">ISM Model Documentation</a></li>
	 
    </ul>
              
              
    <ul class="nav nav-pills pull-right">
      <li class="active">
        <a href="genindex.html" title="General Index"
           accesskey="I">index</a>
      </li>
      <li class="active">
        <a href="py-modindex.html" title="Python Module Index"
           >modules</a>
      </li>
      <li class="active">
        <a href="common.html" title="Common constants and utilities"
           accesskey="N">next</a>
      </li>
      <li class="active">
        <a href="test_models.html" title="Testing model implementations"
           accesskey="P">previous</a>
      </li>
    </ul>
              
	    </div>
	  </div>
	</div>
        

	<div class="row-fluid">
          <div class="span9">
            
        <div class="bodywrapper">
          <div class="body" id="spc-section-body">
            
  <div class="section" id="module-base.plot_models">
<span id="plotting-model-implementations"></span><h1>Plotting model implementations<a class="headerlink" href="#module-base.plot_models" title="Permalink to this headline">¶</a></h1>
<p>This unit contains general routines to plot ISM models.</p>
<div class="section" id="module-contents">
<h2>Module contents<a class="headerlink" href="#module-contents" title="Permalink to this headline">¶</a></h2>
<table class="longtable docutils align-default">
<colgroup>
<col style="width: 10%" />
<col style="width: 90%" />
</colgroup>
<tbody>
<tr class="row-odd"><td><p><a class="reference internal" href="#base.plot_models.plotISMModels" title="base.plot_models.plotISMModels"><code class="xref py py-obj docutils literal notranslate"><span class="pre">plotISMModels</span></code></a>(models, labels[, colors, …])</p></td>
<td><p>Plot certain output quantities for a set of ISM models.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="section" id="module-reference">
<h2>Module reference<a class="headerlink" href="#module-reference" title="Permalink to this headline">¶</a></h2>
<dl class="function">
<dt id="base.plot_models.plotISMModels">
<code class="sig-prename descclassname">base.plot_models.</code><code class="sig-name descname">plotISMModels</code><span class="sig-paren">(</span><em class="sig-param">models, labels, colors=['darkblue', 'deepskyblue', 'firebrick', 'orange', 'g'], outputs=['T_eff', 'P_eff', 'f_cold', 'sfr'], input_min_log_nH=-2.0, input_max_log_nH=4.0, input_Z_solar=1.0, secondary_q=None, secondary_values=None, n_max_per_row=4, panel_size=3.0, legend_panel=0, legend_loc=2, print_output=True, fn_out='ism_models.pdf'</em><span class="sig-paren">)</span><a class="headerlink" href="#base.plot_models.plotISMModels" title="Permalink to this definition">¶</a></dt>
<dd><p>Plot certain output quantities for a set of ISM models.</p>
<p>The plots are always shown as a function of nH on the x axis. The user can choose a secondary
input quantity which is varied using different line styles.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><dl class="simple">
<dt><strong>models: array_like</strong></dt><dd><p>A list of ISMModel objects to be plotted.</p>
</dd>
<dt><strong>colors: array_like</strong></dt><dd><p>The colors used to plot each model (in the same order as <code class="docutils literal notranslate"><span class="pre">models</span></code>).</p>
</dd>
<dt><strong>outputs: array_like</strong></dt><dd><p>A list of string identifiers of output quantities (which must be listed in 
<a class="reference internal" href="common.html#base.common.output_props" title="base.common.output_props"><code class="xref py py-data docutils literal notranslate"><span class="pre">base.common.output_props</span></code></a>). One panel will be created for each quantity.</p>
</dd>
<dt><strong>input_min_log_nH: float</strong></dt><dd><p>The minimum nH, i.e., the left edge of the plots.</p>
</dd>
<dt><strong>input_max_log_nH: float</strong></dt><dd><p>The maximum nH, i.e., the right edge of the plots.</p>
</dd>
<dt><strong>input_Z_solar: float</strong></dt><dd><p>The metallicity used when metallicity is not set as secondary quantity (only influences 
models using metallicity as an input).</p>
</dd>
<dt><strong>secondary_q: str</strong></dt><dd><p>If <code class="docutils literal notranslate"><span class="pre">None</span></code>, only one line is plotted per model. If an input quantity, each model is 
plotted multiple times using the inputs in <code class="docutils literal notranslate"><span class="pre">secondary_values</span></code> or a default. If the model
does not accept the secondary input, it is plotted only once.</p>
</dd>
<dt><strong>secondary_values: array_like</strong></dt><dd><p>See <code class="docutils literal notranslate"><span class="pre">secondary_q</span></code> above.</p>
</dd>
<dt><strong>n_max_per_row: int</strong></dt><dd><p>The number of panels per row. If, for example, 7 output quantities are chosen, and 
<code class="docutils literal notranslate"><span class="pre">n_max_per_row</span></code> is 4, there will be two rows with 4 and 3 panels, respectively.</p>
</dd>
<dt><strong>panel_size: float</strong></dt><dd><p>The size of each panel in inches.</p>
</dd>
<dt><strong>legend_panel: int</strong></dt><dd><p>The index of the panel where the legend is placed.</p>
</dd>
<dt><strong>legend_loc: int</strong></dt><dd><p>The location of the legend in the panel (see matplotlib documentation).</p>
</dd>
<dt><strong>fn_out: str</strong></dt><dd><p>The output filename.</p>
</dd>
</dl>
</dd>
</dl>
</dd></dl>

</div>
</div>


          </div>
        </div>
          </div>
      <div class="spc-rightsidebar span3">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Plotting model implementations</a><ul>
<li><a class="reference internal" href="#module-contents">Module contents</a></li>
<li><a class="reference internal" href="#module-reference">Module reference</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="test_models.html"
                        title="previous chapter">Testing model implementations</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="common.html"
                        title="next chapter">Common constants and utilities</a></p>
        </div>
      </div>
        </div>
      </div>
    </div>

    <div class="container container-navbar-bottom">
      <div class="spc-navbar">
        
      </div>
    </div>
    <div class="container">
    <div class="footer">
    <div class="row-fluid">
    <ul class="inline pull-left">
      <li>
        &copy; Copyright 2015-2019, Benedikt Diemer.
      </li>
      <li>
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 2.2.0.
      </li>
    </ul>
    </div>
    </div>
    </div>
  </body>
</html>