<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    
    <title>Testing model implementations &mdash; ISM Model Documentation</title>
    
    <link rel="stylesheet" type="text/css" href="_static/css/spc-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="_static/css/spc-extend.css">
    <link rel="stylesheet" href="_static/scipy.css" type="text/css" >
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" >
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    './',
        VERSION:     '0.1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <script type="text/javascript" src="_static/language_data.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="_static/js/copybutton.js"></script>
    <link rel="index" title="Index" href="genindex.html" >
    <link rel="search" title="Search" href="search.html" >
    <link rel="top" title="ISM Model Documentation" href="index.html" >
    <link rel="next" title="Plotting model implementations" href="plot_models.html" >
    <link rel="prev" title="Model Base Class" href="model_base.html" > 
  </head>
  <body>

  <div class="container">
    <div class="header">
    </div>
  </div>


    <div class="container">
      <div class="main">
        
	<div class="row-fluid">
	  <div class="span12">
	    <div class="spc-navbar">
              
    <ul class="nav nav-pills pull-left">
        <li class="active"><a href="https://bitbucket.org/bdiemer/ismmodel">BitBucket Repository</a></li>
	
        <li class="active"><a href="index.html">ISM Model Documentation</a></li>
	 
    </ul>
              
              
    <ul class="nav nav-pills pull-right">
      <li class="active">
        <a href="genindex.html" title="General Index"
           accesskey="I">index</a>
      </li>
      <li class="active">
        <a href="py-modindex.html" title="Python Module Index"
           >modules</a>
      </li>
      <li class="active">
        <a href="plot_models.html" title="Plotting model implementations"
           accesskey="N">next</a>
      </li>
      <li class="active">
        <a href="model_base.html" title="Model Base Class"
           accesskey="P">previous</a>
      </li>
    </ul>
              
	    </div>
	  </div>
	</div>
        

	<div class="row-fluid">
          <div class="span9">
            
        <div class="bodywrapper">
          <div class="body" id="spc-section-body">
            
  <div class="section" id="module-base.test_models">
<span id="testing-model-implementations"></span><h1>Testing model implementations<a class="headerlink" href="#module-base.test_models" title="Permalink to this headline">¶</a></h1>
<p>This unit contains a test routine that can be run on any model to check that it conforms to the 
stipulations of the base class. In particular, we check that:</p>
<ul class="simple">
<li><p>all input quantities listed in the model are also listed in <a class="reference internal" href="common.html#base.common.input_props" title="base.common.input_props"><code class="xref py py-data docutils literal notranslate"><span class="pre">input_props</span></code></a></p></li>
<li><p>all output quantities listed in the model are also listed in <a class="reference internal" href="common.html#base.common.output_props" title="base.common.output_props"><code class="xref py py-data docutils literal notranslate"><span class="pre">output_props</span></code></a></p></li>
<li><p>there is a corresponding function implemented in the model class for each output listed</p></li>
<li><p>these functions return arrays of the same (first) dimension as the input array</p></li>
<li><p>the returned quantities must not be nan or inf.</p></li>
</ul>
<p>If a model passes these tests, it conforms to the <a class="reference internal" href="model_base.html#base.model_base.ISMModel" title="base.model_base.ISMModel"><code class="xref py py-class docutils literal notranslate"><span class="pre">ISMModel</span></code></a> standard.</p>
<div class="section" id="module-contents">
<h2>Module contents<a class="headerlink" href="#module-contents" title="Permalink to this headline">¶</a></h2>
<table class="longtable docutils align-default">
<colgroup>
<col style="width: 10%" />
<col style="width: 90%" />
</colgroup>
<tbody>
<tr class="row-odd"><td><p><a class="reference internal" href="#base.test_models.testISMModel" title="base.test_models.testISMModel"><code class="xref py py-obj docutils literal notranslate"><span class="pre">testISMModel</span></code></a>(model)</p></td>
<td><p>Test an ISM model for compatibility with the base class system.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="section" id="module-reference">
<h2>Module reference<a class="headerlink" href="#module-reference" title="Permalink to this headline">¶</a></h2>
<dl class="function">
<dt id="base.test_models.testISMModel">
<code class="sig-prename descclassname">base.test_models.</code><code class="sig-name descname">testISMModel</code><span class="sig-paren">(</span><em class="sig-param">model</em><span class="sig-paren">)</span><a class="headerlink" href="#base.test_models.testISMModel" title="Permalink to this definition">¶</a></dt>
<dd><p>Test an ISM model for compatibility with the base class system.</p>
<p>The function throws exceptions if any problems are detected and returns without error if not.</p>
<dl class="field-list simple">
<dt class="field-odd">Parameters</dt>
<dd class="field-odd"><dl class="simple">
<dt><strong>model: ISMModel</strong></dt><dd><p>The model to be tested.</p>
</dd>
</dl>
</dd>
</dl>
</dd></dl>

</div>
</div>


          </div>
        </div>
          </div>
      <div class="spc-rightsidebar span3">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Testing model implementations</a><ul>
<li><a class="reference internal" href="#module-contents">Module contents</a></li>
<li><a class="reference internal" href="#module-reference">Module reference</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="model_base.html"
                        title="previous chapter">Model Base Class</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="plot_models.html"
                        title="next chapter">Plotting model implementations</a></p>
        </div>
      </div>
        </div>
      </div>
    </div>

    <div class="container container-navbar-bottom">
      <div class="spc-navbar">
        
      </div>
    </div>
    <div class="container">
    <div class="footer">
    <div class="row-fluid">
    <ul class="inline pull-left">
      <li>
        &copy; Copyright 2015-2019, Benedikt Diemer.
      </li>
      <li>
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 2.2.0.
      </li>
    </ul>
    </div>
    </div>
    </div>
  </body>
</html>